{% extends "layout.html" %}

{% block content %}
<div class="container">

    <div class="jumbotron">
        <h1>50 aniversario de la ETSIT</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dicta distinctio iusto molestiae nisi omnis placeat recusandae voluptates? Accusantium consectetur culpa debitis eveniet illo, reiciendis? Fuga iste quaerat quia quos!</p>
        <p><a class="btn btn-warning btn-lg" href="#" role="button">Participa</a></p>
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% endblock %}
